/* .css-13cymwt-control {
    background-color: rgb(32, 43, 59) !important;
    border: 0px !important;
    opacity: 1 !important;
    color: white !important;
} */

.css-1jqq78o-placeholder {
  color: rgb(147, 153, 162) !important;
  font-weight: bold;
  font-size: 14px !important;
  font-family: Rubik;
}

/* .css-t3ipsp-control:hover,
:visited,
:focus,
:active {
    border-color: transparent !important;
}
} */

@media only screen and (max-width: 390px) {
  .css-13cymwt-control {
    max-width: 360px;
    margin: auto;
  }
  .weather-content-holder {
    margin-left: 13px;
    justify-content: none;
  }
}
